$pc_l: 1440px;
$pc_m: 1200px;
$pc_s: 1025px;
$pad: 769px;
$mb_l: 440px;
$mb_m: 376px;
$mb_s: 321px;

@mixin pc-width_l() {
  @media all and (min-width: $pc_l) {
    @content;
  }
}
@mixin pc-width_m() {
  @media all and (max-width: $pc_m) {
    @content;
  }
}
@mixin pc-width_s() {
  @media all and (max-width: $pc_s) {
    @content;
  }
}
@mixin pad-width() {
  @media all and (max-width: $pad) {
    @content;
  }
}
@mixin mb-width_l() {
  @media all and (max-width: $mb_l) {
    @content;
  }
}
@mixin mb-width_m() {
  @media all and (max-width: $mb_m) {
    @content;
  }
}
@mixin mb-width_s() {
  @media all and (max-width: $mb_s) {
    @content;
  }
}
// animation
.ani_kv_h3{
  position: relative;
  overflow: hidden;
  animation: ltr 0.8s 2.7s ease-out forwards;
  transform: translateX(-110%);
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    animation: ttb .2s 3.2s ease forwards;
  }
}
@keyframes ltr {
  0%{
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(-0%);
  }
}
@keyframes ttb {
  0%{
    top:0;
  }
  100% {
      top:100%;
  }
}
.ani_otc{
  animation: otc 10s 4.3s ease forwards;
  opacity: 0;
}
@keyframes otc {
  0%{
    opacity: 0;
    filter: blur(0);
  }
  100% {
    opacity: 1;
    filter: blur(1);
  }
}
.h1_subtt{
  &--ani{
    position: relative;
    overflow: hidden;
    animation: ltr 1s 3.4s ease-in-out forwards;
    transform: translateX(-110%);
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      z-index: 1;
      animation: ttb .2s 4.2s ease forwards;
    }
  }
}
.ani_kv_h1{
  position: relative;
  overflow: hidden;
  animation: ltr 1s 3.6s ease-in-out forwards;
  transform: translateX(-110%);
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;
    animation: ttb .2s 4.4s ease forwards;
  }
}
.speaker-img{
  transition: 0.8s;
}
.filter-blur{
  transition: 0.8s;
  filter: blur(10px);
}
.deco_line{
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  background-color: #7F6000;
  z-index: 1;
  &--1{
    left: 0;
  }
  &--2{
    right: 0;
  }
}